.features10-layout300 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.features10-max-width {
  gap: var(--dl-space-space-threeunits);
  align-items: center;
}
.features10-section-title {
  align-items: center;
}
.features10-content {
  align-self: stretch;
  align-items: center;
}
.features10-feature1 {
  align-items: flex-start;
}
.features10-feature2 {
  align-items: flex-start;
}
.features10-feature3 {
  align-items: flex-start;
}
.features10-actions {
  align-items: flex-start;
}
.features10-fragment1 {
  display: contents;
}
.features10-text03 {
  display: inline-block;
  text-align: center;
  font-family: "Varela Round";
}
.features10-fragment5 {
  display: contents;
}
.features10-text09 {
  display: inline-block;
  font-family: "Varela Round";
}
.features10-fragment6 {
  display: contents;
}
.features10-text16 {
  display: inline-block;
  font-family: "Varela Round";
}
.features10-fragment4 {
  display: contents;
}
.features10-text06 {
  display: inline-block;
  font-family: "Varela Round";
}
.features10-fragment2 {
  display: contents;
}
.features10-text04 {
  display: inline-block;
  font-family: "Varela Round";
}
.features10-fragment3 {
  display: contents;
}
.features10-text05 {
  display: inline-block;
  font-family: "Varela Round";
}
.features10-fragment {
  display: contents;
}
.features10-text02 {
  display: inline-block;
  font-family: "Varela Round";
}
.features10-root-class-name {
  height: 100%;
  align-self: center;
}
@media(max-width: 991px) {
  .features10-section-title {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .features10-section-title {
    width: auto;
  }
  .features10-feature2 {
    width: auto;
  }
  .features10-feature3 {
    width: auto;
  }
  .features10-text02 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .features10-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .features10-actions {
    width: 100%;
    flex-direction: column;
  }
}

.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-image {
  width: var(--dl-size-size-medium);
  object-fit: cover;
}
.home-text {
  font-family: "Varela Round";
}
.home-fragment {
  display: contents;
}
.home-text02 {
  display: inline-block;
  font-family: "Varela Round";
}
.home-fragment1 {
  display: contents;
}
.home-text03 {
  display: inline-block;
  text-align: center;
  font-family: "Varela Round";
}
.home-fragment2 {
  display: contents;
}
.home-text04 {
  display: inline-block;
  font-family: "Varela Round";
}
.home-fragment3 {
  display: contents;
}
.home-text05 {
  display: inline-block;
  font-family: "Varela Round";
}
.home-fragment4 {
  display: contents;
}
.home-text06 {
  display: inline-block;
  font-family: "Varela Round";
}
.home-fragment5 {
  display: contents;
}
.home-text09 {
  display: inline-block;
  font-family: "Varela Round";
}
.home-fragment6 {
  display: contents;
}
.home-text16 {
  display: inline-block;
  font-family: "Varela Round";
}
@media(max-width: 767px) {
  .home-text02 {
    text-align: center;
  }
}
